<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.order.mapper.TOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.order.TOrder" >
    <!--
      WARNING - @mbggenerated
    -->
    <id property="id" jdbcType="BIGINT" column="id" />
    <result property="user_id" jdbcType="BIGINT" column="user_id" />
    <result property="product_id" jdbcType="BIGINT" column="product_id" />
    <result property="count" jdbcType="INTEGER" column="count" />
    <result property="money" jdbcType="DECIMAL" column="money" />
    <result property="status" jdbcType="INTEGER" column="status" />
  </resultMap>


  <update id="updateStatus" parameterType="java.util.Map">
    UPDATE `order`  set status = 1
    WHERE id = #{id} and status = #{status} and user_id = #{userId}
  </update>

  <insert id="saveOrder" parameterType="com.example.order.TOrder">
    insert into `order`
      ( ID,user_id,product_id,count,money,status ) VALUES( null,#{user_id},#{product_id},#{count},#{money},#{status} )
  </insert>
</mapper>